* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #21303f;
    height: 100hv;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #E74C3C;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #FFF;
    transition: .2s;
}
h2.title {
    color: #FFF;
    font-size: 38px;
    text-align: center;
}

h2.title span {
    color: #E74C3C;
}
button:hover, .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #FFF;
    transform: scale(1.05);
}
/* Estilização do Cabeçalho do site */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #d7d0d0;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover {
    color: #FFF;
    transform: scale(1.03);
}
header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
}

/* Estilo do Menu Hamburguer */
.btn-abrir-menu i{
    color: #FFF;
    font-size: 38px;
}
.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile.abrir-omenu {
    width: 70%;
}
.menu-mobile.abrir-omenu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar i {
    color: #FFF;
    font-size: 30px;
}
.btn-fechar {
    padding: 20px 4%;
}
.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav li a{
    color: FFF;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav li a:hover {
    background-color: #FFF;
    color: #000;
}

.overlay-menu {
    background-color:#00000096;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
/* Incio da estilização da logo marca do site */
.logo {
    color: #FFF;
    font-size: 22px;
    text-align: center;
}
.logo span {
    color: #E74C3C;
}
.logo-content {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.logo-content i {
    margin-right: 5px; 
}
.logo-content h2 {
    margin-left: 5px;
}

/* Fim da estilização da logo marca  */


.btn-contato button:hover {
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.05);
}


/* 
Estilização do topo do site */

section.topo {
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo h1 {
    color: #fff;
    font-size: 45px;
}
.topo .descricao h1 span {
    color: #E74C3C;
}

.topo .descricao p {
    color: #FFF;
    margin: 40px 0;
    text-align: justify;
}

.topo .img-sobre img {
    position: relative;
    animation: flutuante 2s  ease-in-out infinite alternate;
}
@keyframes flutuante {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}
/* Estilização da parte do Portfólio */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.img-port {
    width: 360px;
    height: 260px;
    background-size: cover;
    max-width: 100%;
    margin-top: 20px;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    background-position: center; /* Adicione esta linha para centralizar a imagem de fundo */
    background-size: cover; /* Isso garante que a imagem de fundo cubra completamente a div */
}


.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}


 /* Estilização das Habilidades */
section.habilidades {
    padding: 40px 4%;
}

section.habilidades .flex {
    gap: 60px;
}

.interface .especialidades-box {
    color: #FFF;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 1.2s;
}

.interface .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff7a;
}

.interface .especialidades-box .stacks {
    max-width: 80px;
}
.especialidades-box {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Estilização SOBRE */

section .sobre {
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre {
    color: #FFF;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
    color: #E74C3C;
    display: block;
}
.sobre .txt-sobre p{
    margin: 10px 0 ;
    text-align: justify;
}
.btn-sociais button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ffffffce;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}
.btn-sociais .bi-linkedin{
    color: blue;
}

.img-perfil img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px; 
}



/* Estilização do formulário do site */

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #E74C3C;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilização do Rodapé do Site */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    margin-top: 50px;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}
.borda {
    border-top: 2px solid #FFF;
}

footer .line-footer p i{
    color: #FFF;
    font-size: 22px;
}

footer .line-footer p a {
    color: #FFF;
}

@media screen and (max-width: 576px) {
    .flex {
        flex-direction: column-reverse;
    }
    h2.title {
        font-size: 30px;
        line-height: 32px;
    }
    /* Cabeçalho do site */
    .menu-desktop {
        display: none;
    }
    /* Topo do site */
    section .topo .flex {
        gap: 40px;
    }
    section .topo {
        padding: 20px 8%;
    }
    .topo h1 {
        font-size: 30px;
    }
    .topo .img-sobre img {
        width: 100%;
    }

    /* Habilidades */
    section.habilidades {
        padding: 40px 8%;
    }
    
    /* Seção Sobre */
    section .sobre {
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .sobre .txt-sobre p{
        font-size: 18px;
        padding: 80px 8%;   
         
    }
    .btn-sociais {
        text-align: center;
    }
    .img-perfil img {
        max-width: 90%; /* Reduz a largura máxima da imagem */
        margin-left: 5%; /* Adiciona espaçamento à esquerda */
        margin-right: 5%; /* Adiciona espaçamento à direita */
        border-radius: 20px; /* Ajusta o valor do border-radius */
    }

    /* Faltando  a seção de Portifolio que ainda não montei */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* Estilização do formulario */
    form {
        padding: 80px 8%;
    }
    form .title h2 {
        gap: 30px;
    }
    
    /* Estilização do Rodapé */
    footer .flex {
        gap: 30px;
    }
    footer .line-footer {
        text-align: center;
    }
    
}



#particles-js {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #21303f;
}